

.jumbotron {
  background-image: linear-gradient(to right, white, lightgrey);
}

h3 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color:#5cb85c;
}

p {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-style: italic;
  color: darkgrey;
}

.carousel {
  max-height: 500px;
  max-width: 700px;
}

#newsletterSignUp {
  background-color: rgba(57,55, 55, .10);
  border-radius: 25px;
}

#newsletterSignUp p {
  color: black;
}

.article-img {
  height: 250px;
}

.feedbackForm {
  border: 2px solid;
  border-radius: 10px;
  background-color: #5cb85c
}

.feedbackForm form {
  padding: 20px;
}

.feedbackForm label {
  color: white;
  font-weight: bold;
}

.map-container-6{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map-container-6 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.contactus-card {
  background-color: #5cb85c
}

.contactus-card h2 {
  color: white;
}

.md-form label {
  font-weight: bold;
}


